---
layout: default
permalink: /
---

<section id="quote">
  <div class="card-quote">
    <blockquote>
      “O melhor patrimônio que dispomos para dar nossa contribuição máxima ao mundo somos nós”
    </blockquote>

    <cite>
      <small>
        Greg McKeown, Essencialismo
      </small>
    </cite>
  </div>
</section>

<section id="social-media-icons-row">
  <div class="grid-icons">
    <a href="https://www.instagram.com/gustapinto_">
      <i class="fa-brands fa-instagram icon"></i>
    </a>

    <a href="https://github.com/gustapinto">
      <i class="fa-brands fa-github icon"></i>
    </a>

    <a href="https://www.linkedin.com/in/gustapinto">
      <i class="fa-brands fa-linkedin icon"></i>
    </a>
  </div>
</section>

<section id="intro-and-jobs">
  <div class="content">
    <div class="grid">
      <h1>
        Sobre mim
      </h1>
      <p>
        Um jardineiro de software que vive cada amanhã melhor que o ontem, buscando novos conhecimentos, experiências e vivências, sem nunca deixar de lado a simplicidade, que ainda é a maior sofisticação.
      </p>
    </div>

    <div class="grid">
      <h1>
        Experiência
      </h1>
      <div>
        {% for job in site.data.jobs %}
          {% include components/topic.html
            company = job.company
            role = job.role
            subtitle = job.date
            text = job.description
            link = job.link
            icons = job.icons
          %}

          {% if forloop.last == false %}
            <hr/>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="projects-cards">
  <div class="grid cards">
    {% for project in site.data.projects %}
      {% include components/card_clickable.html
        id = project.id
        title = project.title
        text = project.text
        link = project.link
      %}
    {% endfor %}
  </div>
</section>
