body {
  margin-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  text-align: justify;
}

a {
  text-decoration: none;
  color: #000;
}

.fas {
  font-size: 0.7rem;
  vertical-align: 40%;
  color: #808080;
}

.content {
  margin-bottom: 3rem;
}

.ident {
  padding-left: 8%;
  padding-right: 8%;
}

@media (max-width: 480px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }
}