---
---

$breakpoint-mobile: 576px
$breakpoint-small: 768px
$breakpoint-medium: 992px
$color-primary: #f6d428
$color-secondary: #2e2e2e
$fnt-extra-large: 4rem
$fnt-large: 2.5rem
$fnt-medium: 1.5rem
$inclination: 2deg
$m-large: 5em
$m-medium: 2em
$m-small: 0.75em
$pd-extra-small: 0.25em
$pd-medium: 1em
$pd-small: 0.5em
$default-color: #fff

body
  background-color: $color-secondary
  color: $default-color
  font-family: 'Roboto', sans-serif
  margin: 0

a
  text-decoration: none
  color: $default-color

.clickable
  &:hover
    color: $color-primary
    cursor: pointer

.card
  @extend .dg-positive
  background-color: $default-color
  color: $color-secondary
  padding: $pd-medium

  .card-text
    @extend .dg-negative
    margin-top: $m-small
    margin-bottom: $m-small
    display: block

  .card-title
    @extend .dg-negative
    font-size: $fnt-medium
    font-weight: bold

.card-clickable
  @extend .card

  &:hover
    background-color: $color-secondary
    box-shadow: 5px 5px $color-primary
    cursor: pointer

  &>a
    color: $color-secondary

    &:hover
      color: $default-color

.card-quote
  @extend .card
  width: 35vw
  margin: auto
  font-size: 1.25rem

  small
    display: block
    text-align: right

.container
  margin-bottom: $m-large
  margin-left: auto
  margin-right: auto
  margin-top: $m-large
  width: 65vw

.content
  margin-top: $m-large

  .grid
    margin-bottom: $m-medium

.dg-negative
  transform-origin: left
  transform: skewY(-$inclination)

.dg-positive
  transform-origin: right
  transform: skewY($inclination)

.footer
  background-color: $color-primary
  color: $color-secondary

  .footer-diagonal
    @extend .dg-negative
    @extend .w-fluid
    background-color: $color-primary
    font-size: $fnt-medium
    padding-bottom: $pd-medium
    padding-left: $pd-small
    padding-right: $pd-small
    text-align: right

  .footer-title
    color: $color-secondary
    font-weight: bold
    margin: 0

.grid
  display: grid
  grid-template-columns: 50% 50%
  align-content: center
  grid-gap: 1em

  &.cards
    margin-top: $m-large
    grid-template-columns: 25% 25% 25% 25%

.grid-item
  place-self: center

.grid-icons
  margin-top: $m-medium !important
  display: grid
  grid-template-columns: 33% 33% 33%
  place-content: center
  width: 35vw
  margin: auto

  svg
    @extend .clickable
    place-self: center
    width: 3rem

.header
  @extend .dg-negative
  @extend .w-fluid
  background-color: $color-primary
  color: $color-secondary
  font-size: $fnt-extra-large
  font-weight: bold
  padding-left: $pd-small
  padding-right: $pd-small
  padding-top: $pd-small

.w-fluid
  max-width: 100%
  width: auto

.topic
  .topic-title
    font-size: 1.15rem
    font-weight: bold
    margin: 0

  .topic-subtitle
    margin: 0

  .topic-text
    margin-top: 0.75em

.block
  display: block

@media (max-width: $breakpoint-medium)
  .grid
    &.cards
      grid-template-columns: 33% 33% 33%


@media (max-width: $breakpoint-small)
  .grid
    &.cards
      grid-template-columns: 50% 50%

@media (max-width: $breakpoint-mobile)
  .card-quote
    width: 70vw

  .container
    margin-bottom: $m-medium
    margin-top: $m-medium
    width: 90vw

  .grid
    grid-gap: 0.1em
    grid-template-columns: auto

    &.cards
      grid-template-columns: auto

  .grid-icons
    width: 90vw

  .header
    font-size: $fnt-large
    padding-left: $pd-extra-small
    padding-right: $pd-extra-small
