---
---

$breakpoint-small: 768px
$color-primary: #f6d428
$color-secondary: #2e2e2e
$fnt-extra-large: 4rem
$fnt-large: 2.5rem
$fnt-medium: 1.5rem
$inclination: 2deg
$m-large: 5em
$m-medium: 2em
$pd-extra-small: 0.25em
$pd-medium: 1em
$pd-small: 0.5em

body
  background-color: $color-secondary
  color: #fff
  font-family: 'Roboto', sans-serif
  margin: 0

.card
  @extend .dg-positive
  background-color: #fff
  color: #000
  padding: $pd-medium

.card-text
  @extend .dg-negative
  display: block

.card-openning
  @extend .card
  width: 35vw
  margin: auto

.container
  margin-bottom: $m-large
  margin-left: auto
  margin-right: auto
  margin-top: $m-large
  width: 65vw

.content
  margin-top: $m-large

.dg-negative
  transform-origin: left
  transform: skewY(-$inclination)

.dg-positive
  transform-origin: right
  transform: skewY($inclination)

.footer
  background-color: $color-primary
  color: $color-secondary

  .footer-diagonal
    @extend .dg-negative
    @extend .w-fluid
    background-color: $color-primary
    font-size: $fnt-medium
    padding-bottom: $pd-medium
    padding-left: $pd-small
    padding-right: $pd-small
    text-align: right

  .footer-title
    color: $color-secondary
    font-weight: bold
    margin: 0

.grid
  display: grid
  grid-template-columns: 50% 50%
  align-content: center
  grid-gap: 1em

.grid-item
  place-self: center

.header
  @extend .dg-negative
  @extend .w-fluid
  background-color: $color-primary
  color: $color-secondary
  font-size: $fnt-extra-large
  font-weight: bold
  padding-left: $pd-small
  padding-right: $pd-small
  padding-top: $pd-small

.w-fluid
  max-width: 100%
  width: auto

@media (max-width: $breakpoint-small)
  .card-openning
    width: 70vw

  .container
    margin-bottom: $m-medium
    margin-top: $m-medium
    width: 90vw

  .grid
    grid-template-columns: auto

  .header
    font-size: $fnt-large
    padding-left: $pd-extra-small
    padding-right: $pd-extra-small
