body {
  font-size: 1rem;
  margin-top: 5%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
}

h3,
h4,
h5,
h6 {
  display: inline;
}

ul {
  list-style-type: none;
}

.spacer {
  height: 1rem;
}

.fa-external-link-alt {
  font-size: 0.8rem;
  vertical-align: 40%;
  color: #808080;
}

.fa-external-link-alt:hover {
  color: #0094ff;
}

@media (max-width: 480px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
  }

  ul {
    margin-right: 10%
  }

  .fa-external-link-alt {
    font-size: 1rem;
    vertical-align: 20%;
    color: #0094ff;
  }
}