<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-178156593-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-178156593-1');
  </script>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" rel="stylesheet">

  <link type="text/css" rel="stylesheet" href="assets/css/main.css">

  <title>
    {{ site.title }}
  </title>
</head>
<body class="bg-secondary">
  <nav class="header">
    <span class="header-title">
      Gustavo Henrique Pinto
    </span>
  </nav>

  <main>
    <div class="container">
      {{ content }}
    </div>
  </main>

  <footer class="footer">
    <div class="footer-diagonal">
      <p class="footer-title">
        Contate-me
      </p>
      <small>
        ghp2201@gmail.com
      </small>
    </div>
  </footer>
</body>
</html>
