<!DOCTYPE html>
<html>
  <head>
    <title>{{ site.title }}</title>

    {% include tags.html %}
    {% include analytics.html %}
  </head>
  <body>
    <h1>{{ page.content_title }}</h1>

    {% if page.content_subtitle %}
      <h4>{{ page.content_subtitle }}</h4>
    {% endif %}

    <h2 class="icons-container">
      <a href="https://github.com/gustapinto" target="_blank">
        <i class="fab fa-github icons"></i>
      </a>

      <a href="https://www.linkedin.com/in/gustavo-henrique-pinto-01326a20b/" target="_blank">
        <i class="fab fa-linkedin icons"></i>
      </a>
    </h2>

    <hr>

    <section>
        {{ content }}
    </section>
  </body>
</html>
